body {

  // Demo 1 styles
  &.demo1 {
    font-family: 'kionaregular';
    background-image: url(../img/1.jpg);

    .content__credits {
      font-family: 'walkway_condensedregular';
      letter-spacing: 1px;
      font-size: 1.15rem;
    }

  }

  // Demo 2 styles
  &.demo2 {
    font-family: 'news-gothic-std', "Arial Narrow", sans-serif;
    background-image: url(../img/2.jpg);
    --color-title: #e972ff;

    .intro {
      text-transform: uppercase;
      font-style: italic;
    }
    
    .content__subtitle {
      font-style: italic;
    }
    
    .content__title {
      font-family: 'ferrite_coreregular';
    }
    
    .content__credits {
      font-style: italic;
      margin-top: 7rem;
      max-width: 40rem;
    }
  }

  // Demo 3 styles
  &.demo3 {
    font-family: 'niveau-grotesk', sans-serif;
    background-image: url(../img/3.jpg);

    .content__title {
      font-size: 10vw;
    }
  }

  &.demo4 {
    font-family: 'news-gothic-std', "Arial Narrow", sans-serif;
    background-image: url(../img/4.jpg);

    .content__subtitle {
      font-style: italic;
    }
    
    .content__title {
      font-size: 13vw;
      font-family: 'tall_films_expandedregular';
    }
    
    .content__credits,
    .intro {
      font-family: 'tall_films_expandedregular';
    }
    
    .content__credits {
      font-size: 1.25rem;
    }

  }

  &.demo5 {
    font-family: 'niveau-grotesk', sans-serif;
    background-image: url(../img/5.jpg);
    --color-title: #6bffde;
    --color-link: #6bffde;

    .content__title {
      font-size: 8vw;
      font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", "sans serif";
    }
    
    .content__subtitle,
    .content__credits {
      font-size: 1.25rem;
      font-family: 'tall_films_expandedregular';
      color: var(--color-title);
    }
    
    .content__subtitle {
      font-size: 2rem;
    }
  }

  &.demo6 {
    font-family: titling-gothic-fb, sans-serif;
    font-weight: 200;
    letter-spacing: 1px;
    font-size: 0.85rem;
    background-image: url(../img/6.jpg);
    --color-title: #ef2f60;

    .content__title {
      -webkit-text-stroke: 2px var(--color-title);
      text-stroke: 2px var(--color-title);
      -webkit-text-fill-color: transparent;
      text-fill-color: transparent;
      color: transparent;
      font-size: 8vw;
      font-weight: 800;   
    }
    
    .content__subtitle {
      font-size: 1.25rem;
    }
  }

  &.demo7 {
    font-family: gill-sans-nova, sans-serif;
    background-image: url(../img/7.jpg);
    font-weight: 500;
    font-size: 0.85rem;
    --color-link: #c3c9fe;

    .screen {
      text-transform: uppercase;
    }
    
    .content__title {
      font-size: 8vw;
      font-weight: 900;   
    }
    
    .content__credits {
      color: var(--color-link);
    }
  }

  &.demo8 {
    font-family: 'kionaregular';
    background-image: url(../img/8.jpg);
    font-weight: 500;
    font-size: 0.85rem;
    --color-link: #d3e5fc;

    .screen {
      text-transform: uppercase;
    }
    
    .content__title {
      font-size: 8vw;
      font-weight: 900;
    }
    
    .content__credits {
      font-family: 'walkway_condensedregular';
      letter-spacing: 1px;
      font-size: 1.15rem;
      max-width: 42rem;
    }

  }
    
}
