
/* TYPOGRAPHY
---------------------------------------------------------------------------------------------------- */

@font-face {
  font-family: 'kionaregular';
  src: url('../fonts/kiona-regular-webfont.woff') format('woff2'),
       url('../fonts/kiona-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'walkway_condensedregular';
  src: url('../fonts/walkway_condensed-webfont.woff2') format('woff2'),
       url('../fonts/walkway_condensed-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ferrite_coreregular';
  src: url('../fonts/ferritecore-regular-webfont.woff2') format('woff2'),
       url('../fonts/ferritecore-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'tall_films_expandedregular';
  src: url('../fonts/tall_films_expanded-webfont.woff2') format('woff2'),
       url('../fonts/tall_films_expanded-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'tall_dark_and_handsomeCn';
  src: url('../fonts/talldark-webfont.woff2') format('woff2'),
       url('../fonts/talldark-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

