<div class="frame__links">
  <a href="https://bitbucket.org/rcasabuena/audio-base-image-distortion" target="_blank">Bitbucket</a>
</div>
<div class="frame__demos">
  {{#each demos}}
    <a href="/demo{{demo}}" class="frame__demo {{#if isActive}}frame__demo--current{{/if}}">{{demo}}</a>
  {{/each}}
</div>
<button class="toggle toggle--on button" id="toggle-btn">
  <svg class="toggle__icon toggle__icon--on"><use xlink:href="#icon-soundon"></use></svg>
  <svg class="toggle__icon toggle__icon--off"><use xlink:href="#icon-soundoff"></use></svg>
</button>