<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Audio-based Image Distortion | Demo {{demo}} </title>
  <meta name="description" content="A set of experimental audio-based image distortion effects made with WebGL" />
  <meta name="keywords" content="audio, distortion, image, webgl, music, visualizer, javascript, creative, web, demo" />
  <meta name="author" content="Ritchie Casabuena" />
  <link rel="shortcut icon" href="favicon.ico">
  {{>typekit}}
  <link rel="stylesheet" type="text/css" href="app.css" />
  <script>document.documentElement.className="js";var supportsCssVars=function(){var e,t=document.createElement("style");return t.innerHTML="root: { --tmp-var: bold; }",document.head.appendChild(t),e=!!(window.CSS&&window.CSS.supports&&window.CSS.supports("font-weight","var(--tmp-var)")),t.parentNode.removeChild(t),e};supportsCssVars()||alert("Please view this demo in a modern browser that supports CSS Variables.");</script>
</head>