<div class="content">
  <h3 class="content__subtitle">A Eugenia Sol film</h3>
  <h2 class="content__title">Imminence</h2>
  <div class="content__credits">Green Eyes Entertainment <small>presents a</small> Green Eyes <small>production in association with</small> Doomsday Pictures <small>a</small> Eugenia Sol <small>film</small> Jody Trust Francis Belladonna "Imminence" <small>music by</small> Jesse Chair <small>costume designer</small> Lola Osteria <small>visual effects supervisor</small> Henrietta Frank <small>editors</small> Eugenia Sol Jason Schaltz <small>production designer</small> Andrew Schumann <small>director of photography</small> Franklin Thunder <small>written by</small> Eugenia Sol <small>produced by</small> Eugenia Sol Lavinia Piaretta <small>directed by</small> Eugenia Sol</div>
</div>
<div class="screen screen--grid intro">
  <p class="intro__content">
    <span class="intro__content-line">Green Eyes Entertainment</span>
    <span class="intro__content-line intro__content-line--small">presents</span>
  </p>
  <p class="intro__content">
    <span class="intro__content-line intro__content-line--small">in association with</span>
    <span class="intro__content-line">Doomsday Pictures</span>
  </p>
</div>