<div class="content">
  <h3 class="content__subtitle">A Lars Avakim film</h3>
  <h2 class="content__title">Uprising</h2>
  <div class="content__credits">Pandora State Association <small>presents a</small> Pandora State <small>production in association with</small> Nemesis Festival <small>a</small> Lars Avakim <small>film</small> Rebecca Freeman Jason Bacon "Incommunicado" <small>music by</small> Orlando Waters <small>costume designer</small> Christian Waldorf <small>visual effects supervisor</small> Herbert Costa <small>editors</small> Lars Avakim Sindia Crostin <small>production designer</small> Albert Mann <small>director of photography</small> Ken Gustaffson <small>written by</small> Lars Avakim <small>produced by</small> Lars Avakim Ursula Koch <small>directed by</small> Lars Avakim</div>
</div>
<div class="screen screen--grid intro">
  <p class="intro__content">
    <span class="intro__content-line">Pandora State</span>
    <span class="intro__content-line intro__content-line--small">presents</span>
  </p>
  <p class="intro__content">
    <span class="intro__content-line intro__content-line--small">in association with</span>
    <span class="intro__content-line">Nemesis Festival</span>
  </p>
</div>