<div class="content">
  <h3 class="content__subtitle">A Mika Vario film</h3>
  <h2 class="content__title">Konstellaatio</h2>
  <div class="content__credits">Sami Kombinaatti <small>presents a</small> Rude Mechanic <small>production in association with</small> Kuopio Pictures <small>a</small> Mika Vario <small>film</small> Konstellaatio <small>music by</small> Onko <small>costume designer</small> Kajo <small>visual effects supervisor</small> Frank Oleva <small>editors</small> Eugenia Sol Jason Schaltz <small>production designer</small> Schumann Vakio <small>director of photography</small> Franklin Thunder <small>written by</small> Mika Vario <small>produced by</small> Lavinia Kesto <small>directed by</small> Mika Vario</div>
</div>
<div class="screen screen--grid intro">
  <p class="intro__content">
    <span class="intro__content-line">Sami Kombinaatti</span>
    <span class="intro__content-line intro__content-line--small">presents</span>
  </p>
  <p class="intro__content">
    <span class="intro__content-line intro__content-line--small">in association with</span>
    <span class="intro__content-line">Rude Mechanic</span>
  </p>
</div>