<div class="content">
  <h3 class="content__subtitle">A Johan Lee film</h3>
  <h2 class="content__title">Desolation</h2>
  <div class="content__credits">Nightcastle Dreams <small>presents a</small> Nightcastle <small>production in association with</small> Lonesome Riders <small>a</small> Johan Lee <small>film</small> Susan Calvin Arkady Darell Lors Avakim Raych Seldon "Solitude" <small>music by</small> Jane Ginsberg <small>costume designer</small> Serena Jacobs <small>visual effects supervisor</small> Louise Remington <small>editors</small> Johan Lee Fabian Koch <small>production designer</small> Soren Goldman <small>director of photography</small> Anastasia White <small>written by</small> Johan Lee <small>produced by</small> Johan Lee Helena Rubinstein <small>directed by</small> Johan Lee</div>
</div>
<div class="screen screen--grid intro">
  <p class="intro__content">
    <span class="intro__content-line">Nightcastle Dreams</span>
    <span class="intro__content-line intro__content-line--small">presents</span>
  </p>
  <p class="intro__content">
    <span class="intro__content-line intro__content-line--small">in association with</span>
    <span class="intro__content-line">Lonesome Riders</span>
  </p>
</div>