<div class="content">
  <h3 class="content__subtitle">An Onum Barr film</h3>
  <h2 class="content__title">Substrate</h2>
  <div class="content__credits">Mechanic Sky Enterprises <small>presents a</small> Mechanic Sky <small>production in association with</small> Humanae Future <small>an</small> Onum Barr <small>Film</small> Susan Calvin Arkady Darell Lors Avakim Raych Seldon "Substrate" <small>music by</small> Danny Greehouse <small>costume designer</small> Laura Kenister <small>visual effects supervisor</small> Frederick Mounte <small>editors</small> Onum Barr Mark Singer <small>production designer</small> Andy Nichols <small>director of photography</small> Carol P. Wyonast <small>written by</small> Onum Barr <small>produced by</small> Onum Barr David Loyman <small>directed by</small> Onum Barr</div>
</div>
<div class="screen screen--grid intro">
  <p class="intro__content">
    <span class="intro__content-line">Mechanic Sky</span>
    <span class="intro__content-line intro__content-line--small">presents</span>
  </p>
  <p class="intro__content">
    <span class="intro__content-line intro__content-line--small">in association with</span>
    <span class="intro__content-line">Humanae Future</span>
  </p>
</div>