<div class="content">
  <h3 class="content__subtitle">A Han Pritcher film</h3>
  <h2 class="content__title">posthuman</h2>
  <div class="content__credits">Cubernetic Corporation <small>presents a</small> Cubernetic <small>production in association with</small> Bridge Entertainment <small>a</small> Han Pritcher <small>film</small> Susan Calvin Arkady Darell Lors Avakim Raych Seldon "Posthuman" <small>music by</small> Holly Feather <small>costume designer</small> Frank Bilderberg <small>visual effects supervisor</small> Jason Nesta <small>editors</small> Han Pritcher Arnold Jenister <small>production designer</small> Bill Hollister <small>director of photography</small> Allen Brick <small>written by</small> Han Pritcher <small>produced by</small> Han Pritcher David Reno <small>directed by</small> Han Pritcher</div>
</div>
<div class="screen screen--grid intro">
  <p class="intro__content">
    <span class="intro__content-line">Cubernetic</span>
    <span class="intro__content-line intro__content-line--small">presents</span>
  </p>
  <p class="intro__content">
    <span class="intro__content-line intro__content-line--small">in association with</span>
    <span class="intro__content-line">Bridge Entertainment</span>
  </p>
</div>