<div class="content">
  <h3 class="content__subtitle">A Pia Vargas film</h3>
  <h2 class="content__title">Insurrection</h2>
  <div class="content__credits">Junior Mechanics Association <small>presents a</small> Junior Mechanics <small>production in association with</small> Fable Toys <small>a</small> Pia Vargas <small>film</small> Frank Ortega Barbara Flores Carry Torres "Insurrection" <small>music by</small> Luna <small>costume designer</small> Maria Castro <small>visual effects supervisor</small> Mateo Garcia <small>editors</small> Pia Vargas Tyler Mendoza <small>production designer</small> Emilia Castillo <small>director of photography</small> Gabriella Reyes <small>written by</small> Pia Vargas <small>produced by</small> Pia Vargas Sofia Ortiz <small>directed by</small> Pia Vargas</div>
</div>
<div class="screen screen--grid intro">
  <p class="intro__content">
    <span class="intro__content-line">Junior Mechanics</span>
    <span class="intro__content-line intro__content-line--small">presents</span>
  </p>
  <p class="intro__content">
    <span class="intro__content-line intro__content-line--small">in association with</span>
    <span class="intro__content-line">Fable Toys</span>
  </p>
</div>