<!DOCTYPE html>
<html lang="en" class="no-js">
	{{>head}}
	<body class="demo{{demo}}">
		<main>
			{{>svgsymbols}}
			<div class="frame">
				<h1 class="frame__title">Audio-based Image Distortion</h1>
				{{>demonav}}
			</div>
			{{{body}}}
			{{>turnonsound}}
		</main>
		{{>loader}}
		{{>scripts}}
	</body>
</html>
